@import "tailwindcss";

td {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.25);
  border-bottom-width: 1px;
}

th,
td {
  padding: 6px;
}

tr:first-child td {
  border-top-width: 1px;
}

.ladder-description th:not(:first-child) {
  border-left: 1px solid rgba(255, 255, 255, 0.25);
}

.ladder-description th {
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(0, 0, 0, 0.2);
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-class-warrior: #c69b6d;
  --color-class-paladin: #f48cba;
  --color-class-hunter: #aad372;
  --color-class-rogue: #fff468;
  --color-class-priest: #ffffff;
  --color-class-deathknight: #c41e3a;
  --color-class-shaman: #0070dd;
  --color-class-mage: #3fc7eb;
  --color-class-warlock: #8788ee;
  --color-class-druid: #ff7c0a;
  --color-season-glad: rgb(255 128 0);
  --color-gladiator: rgb(163 53 238);
  --color-duelist: rgb(0 112 222);
  --color-rival: rgb(73, 83, 72);
  --color-challenger: rgb(111, 89, 70);
  --color-unrated: rgb();
  --color-content: #2b1809;
  --color-rating: #b1997f;
  --color-active: #523620;
  --color-content-90: rgba(43, 24, 9, 0.9);
}

html,
body {
  background-image: url(assets/background/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-position: top;
  background-attachment: fixed;
  padding-bottom: 30px;
}

.content-background {
  color: white;
  background-color: var(--color-content);
  border-radius: 8px;
}

.race,
.class,
.spec,
.faction,
.rank-img {
  width: 28px;
  height: 28px;
}

.td-race {
  text-align: center;
}

.div-race,
.div-faction {
  justify-content: center;
  display: flex;
}

.wins {
  color: #00ff00;
}

.losses {
  color: #db2300;
}

.rating {
  color: var(--color-rating);
  /*color: #9e3403; */
  font-weight: 500;
}

table {
  table-layout: fixed;
  width: 100%;
}

.pagination,
.link {
  background-color: var(--color-content);
  color: var(--color-rating);
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 14px;
}

.link.active {
  color: white;
  background-color: #65452d;
}

.pagination.disabled {
  color: rgb(99, 93, 93);
}
