@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-class-warrior: #c69b6d;
  --color-class-paladin: #f48cba;
  --color-class-hunter: #aad372;
  --color-class-rogue: #fff468;
  --color-class-priest: #ffffff;
  --color-class-deathknight: #c41e3a;
  --color-class-shaman: #0070dd;
  --color-class-mage: #3fc7eb;
  --color-class-warlock: #8788ee;
  --color-class-druid: #ff7c0a;
  --color-season-glad: rgb(255 128 0);
  --color-gladiator: rgb(163 53 238);
  --color-duelist: rgb(0 112 222);
  --color-rival: rgb(73, 83, 72);
  --color-challenger: rgb(111, 89, 70);
  --color-unrated: rgb();
  --color-content: #2b1809;
  --color-rating: #b1997f;
  --color-active: #523620;
  --color-content-90: rgba(43, 24, 9, 0.9);
  --color-content-shadow: #190e05;
  --color-article-name: #fff8d6;
  --color-navigation: #37200e;
  --color-article-border: rgba(184, 132, 43, 0.4);
  --color-content-dark-100: #170e06;
  --color-content-dark-50: #1f1105;
  --color-content-hover: #2e1a08cb;
  --color-wins: #00ff00;
  --color-losses: #db2300;
  --color-pagination-disabled: rgb(99, 93, 93);
}

body {
  background-image: url(assets/background/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-position: top;
  background-attachment: fixed;
  padding-bottom: 10px;
  scrollbar-gutter: stable;
}
